


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-6">
      <div class="form-group">
       
        <h2>Datos de Conexión</h2>
      </div>
      <div class="dropdown-divider"></div>
      <form [formGroup]="myForm" (ngSubmit)="submit()" class="px-4 py-3">
        <div class="form-group">
          <label>Dirección IP Clear Pass</label>
          <input  formControlName="direccionIP" type="text" class="form-control"  name="ip" placeholder="IPv4">
          <div *ngIf="f.direccionIP.touched && f.direccionIP.invalid" class="alert alert-danger">
            <div *ngIf="f.direccionIP.errors.required">Ingrese la dirección IP.</div>
            <div *ngIf="f.direccionIP.errors.minlength">Ingrese una direccion IP valida</div>
        </div>
        </div>
        <div class="form-group">
          <label>Token de Accesso ClearPass</label>
          <input  formControlName="token" type="text" class="form-control"  name="token" placeholder="token">
          <div *ngIf="f.token.touched && f.token.invalid" class="alert alert-danger">
            <div *ngIf="f.token.errors.required">Ingrese el Token de Acceso.</div>
        </div>
        </div>
      </form>
      <div class="form-group">
        <h3> Seleccionar Archivo CSV</h3>
      </div>
      <div class="dropdown-divider"></div>
      <form  [formGroup]="myForm" (ngSubmit)="submit()" class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group">
        </div>
        <div class="form-group">
          <div class="col-xs-3">
            <input type="file" #csvReader name="Upload CSV"  formControlName="file"  id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
            
             <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
            <div *ngIf="f.file.errors.required">Seleccione el arvhivo a cargar.</div>
        </div>
          </div>
        </div>

        <button  class="btn btn-outline-primary"  type="submit" >Cargar</button>
      </form>
    </div>

  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

